@import url('https://fonts.googleapis.com/css?family=Work+Sans:400, 600');

.Main {
  background-color: white;
  color: black;
  height: 100vh;
}

.Main-splash {
  background-color: black;
  color: white;
  height: 100vh;
}

.Main-container {
  padding: 60px;
}

.selected {
  font-weight: 600;
}

.Main-RAISE {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.Main-Links {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .7px;
  line-height: 22px;
}

.typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    /*font-weight: 100;*/
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}

.SplashAnimation {
    font-size: 50px;
    letter-spacing: 2px;
    white-space: pre;
    padding: 30px 0px 0px 0px;
}

.Sidebar-content {
    height: 100vh;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Work Sans', sans-serif;
}

.Sidebar-line {
    padding: 10px;
}