html {
  height: 100vh;
}

body {
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

h2:hover {
 cursor: pointer;
}
